.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* Contenedor del formulario */
.container-login {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

/* Estilo del encabezado */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de las etiquetas y campos del formulario */
.form-group-login {
    margin-bottom: 20px;
}

.form-group-login label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.form-group-login input[type="text"],
.form-group-login input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group-login input[type="submit"] {
    background-color: #f09100;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.form-group-login input[type="submit"]:hover {
    background-color: #eae13d;
}

.form-group-login input[type="submit"]:active {
    background-color: #eae13d;
}
/* Vista del producto */
.contenedor-de-producto{
  margin-top: 100x;

}
.contenedor-de-producto .col-2 img{
  padding: 0;
}
.contenedor-de-producto .col-2{
  padding: 20px;
}
.small-img-row{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis:24%;
  cursor: pointer;
}
.catprod{
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
  text-shadow : black 0.1em 0.1em 0.2em;
}
.contenedor-info{
  padding-left: 20px;
}
.botoncomprar{
  background-color:#f09100;
  padding: 10px;
  text-align: center;
  width: 40%;
  color: white;
  margin-top: 10px;
  margin-left: 15%;
  border: #f09100;
  border-radius: 5px;
}
.nameprod{
  text-align: left;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: underline;
 }
.small-img{
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
  border-radius: 15px;
}
.imgprin{
  border-radius: 10px;
}

/* comentarios cargados*/
#comentarios{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

#seccion-productos-relacionados {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.c-t{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-t h1{
  padding: 10px 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0%;
}
.comentario-box-container {
   display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color:#ffffff;
  padding: 20px;
  margin: 15px;
  cursor: pointer;
  margin-bottom: 10px;
}


.perfil{
  display: flex;
  align-items: center;
}
.username{
  display: flex;
  flex-direction: column;
}
.username h4{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.fecha h4{
  color: #979797;
  font-size: 0.8rem;
}
.calificacion{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.review p{
 font-size: 0.9rem;
 color: #4b4b4b;
}
#comentario{
  display: inline;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}
#cali{
  display: flex;
  align-items: center;
  margin-top: 10px;

}
#estrellas{
  margin-left: 10px;
}
#estrellas:not(:checked)>input{
  position: absolute;
  appearance: none;

}
#estrellas:not(:checked)>label{
  float: right;
  cursor: pointer;
  font-size: 30px;
  color:gray;
}
#estrellas:not(:checked)>label::before {
  content: '★'; 
}
#estrellas>input:checked+label:hover,
#estrellas>input:checked+label:hover~label,
#estrellas>input:checked+label:hover,
#estrellas>input:checked+label:hover~label,
#estrellas>label:hover~input:checked~label{
  color: #f9d71c;
}

#estrellas:not(:checked)>label:hover,
#estrellas:not(:checked)>label:hover~label{
  color: #f9d71c;
}

#estrellas>input:checked~label{
  color: #f9d71c;

}
#enviar{
 display: flex;
 justify-content: center;
}
#env{
  background-color: #f09100;
 color: white;
 text-align: center;
 margin: 20px auto; 
  border-radius: 5px;
}
/* caja de comentarios*/
.container-comment {
  display: flex;
  justify-content: center; 
  width: 100%;
}

.box-comment {
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 10px;
  box-sizing: border-box;
  width: 50%; 
  padding-left: 7%;
  justify-content: center;
}

.comment {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.botonEnviar {
  background-color: #f09100;
  padding: 10px;
  text-align: center;
  width: 25%;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  margin: 20px auto; 
  border-radius: 5px;
}

.comment-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.calificacion-c {
  display: flex;
  align-items: center;
  margin-left: 10px; 
}
/* Modo oscuro*/
.switch-wrapper {  
  display: flex;  
  align-items: center;
  justify-content: center; /* Center the switch horizontally */
}

.switch {  
  position: relative;  
  display: inline-block;  
  width: 60px;  
  height: 34px;
}

.switch input {  
  opacity: 0;  
  width: 0;  
  height: 0;
}

.slider {  
  position: absolute;  
  cursor: pointer;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  background-color: #f09100;  
  transition: 0.4s;  
  border-radius: 34px;
}

.slider:before {  
  position: absolute;  
  content: "☀";  /* Símbolo de sol */  
  height: 26px;  
  width: 26px;  
  left: 4px;  
  bottom: 4px;  
  background-color: white;  
  transition: 0.4s;  
  border-radius: 50%;  
  display: flex;  
  justify-content: center;  
  align-items: center;
}

input:checked + .slider {  
  background-color: #0d6efd;
}

input:checked + .slider:before {  
  transform: translateX(26px);  
  content: "🌙";  /* Símbolo de luna */
  background-color: #2c2c2c; 
}

.night-mode  nav{
  background-color: #fff;
}

.night-mode {
  background-color: #2c2c2c;
}

.night-mode  h1 {
  color: #0d6efd;
  text-shadow: blue 0.1em 0.1em 0.2em;
   
}
.night-mode  h2 {
  color: #0d6efd;
  text-shadow: blue 0.1em 0.1em 0.2em;

}
.night-mode  h3 {
  color:#fff
}
.night-mode  h4 {
  color:#fff
}
.night-mode  p {
  color:#fff
}
.night-mode  .box{
  background-color: #4b4b4b;
}
.night-mode  .box-comment{
  background-color: #4b4b4b;
}
.night-mode  .box-comment label{
  color: #fff;
}
.night-mode  .box-comment textarea{
  background-color: #979797;
}
.night-mode  .box-comment input{
  background-color: #979797;
}

.night-mode  .botoncomprar{
  background-color: #0d6efd;
  color: black;
 
}
.night-mode  #env{
  background-color: #0d6efd ;
  color: black;
  border: black 2px;
  border-radius: 5px;
}

.night-mode  .card-body{
  background-color: #4b4b4b;
}
.night-mode  h5.card-title{
  color: #fff;
}


.night-mode .calificacion{
  color: #0d6efd;
}
.night-mode #estrellas:not(:checked)>label:hover,
#estrellas:not(:checked)>label:hover~label{
  color: #0d6efd;
}
.night-mode #estrellas>input:checked+label:hover,
#estrellas>input:checked+label:hover~label,
#estrellas>input:checked+label:hover,
#estrellas>input:checked+label:hover~label,
#estrellas>label:hover~input:checked~label{
  color: #0d6efd;
}
.night-mode #estrellas>input:checked~label{
  color: #0d6efd;
}

.night-mode .album.py-5.bg-light {
  background-color: #2c2c2c !important;
}


.night-mode .jumbotron {
  background: url('../img/cover_back_night.png');
  background-color: #2c2c2c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.night-mode #autos, .night-mode #juguetes, .night-mode #muebles {
  background-color: #4b4b4b;
}

#autos, #juguetes, #muebles {
  background-color: #fff;
}

.night-mode .btn {
  background-color: #4b4b4b !important;
  color: #fff;
  border: #2c2c2c;
}


.night-mode .list-group-item {
  background-color: #4b4b4b;
}

.night-mode .form-control {
  background-color: #4b4b4b;
}

.night-mode label {
  color: #fff;
}

.night-mode .form-select {
  background-color: #4b4b4b;
}

.night-mode h6.my-0 {
  color: #fff;
}

.night-mode span {
  color: #fff;
}

.night-mode h5.mb-3 {
  color: #fff;
}

.night-mode #file-upload {
  background-color: #4b4b4b;
}
.night-mode .containerProfile{
  background-color: #3d3d3d;
}
.night-mode .input-perfil{
  background-color: #4b4b4b;
}
.night-mode .boton-perfil{
  background-color: #0d6efd;
}
.night-mode .container-login{
  background-color: #3d3d3d;
}
.night-mode .input-login{
  background-color: #4b4b4b;
}
.night-mode .boton-filtro{
  background-color: #0d6efd;
}
.night-mode .boton-filtro:hover{
  background-color: #0d6efd;
}

/*perfil*/
.containerProfile {
  max-width: 700px;
  width: 100%;
  box-sizing: border-box;
  padding: 25px;
  background-color: #fffcfc;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.text-title {
  font-family: 'Calibri';
  text-align: center;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

#profileForm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px 12px 0;
  width: 100%;
}

#profileForm .field {
  width: calc(100% / 2 - 20px);
  margin-bottom: 10px;
  display: block;
}

#profileForm label {
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

#profileForm input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Cambio de foto de perfil circular */
.foto-perfil {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ddd;
  background-image: url('');
  background-size: cover;
  background-position: center;
  margin: 0 auto 20px auto;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}


.foto-perfil::before {
  content: "Cambiar foto";
  font-size: 12px;
  color: #555;
  text-align: center;
}


#fotoPerfil {
  display: none;
}


.boton-perfil {
  width: auto;
  background-color: #f09100;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 20px auto; /* Asegúrate de centrar el botón */
  display: block;
  text-align: center;
}

.boton-perfil:hover {
  background-color: #eae13d;
}

.centered {
  display: flex;
  justify-content: center;
  width: 100%;
}

.error {
  color: red;
  font-size: 0.9em;
  display: none;
}
.boton-filtro {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: #f09100; 
  color: white;
  margin: 0 10px; 
  display: unset
}
.boton-filtro:hover{
  background-color: #eae13d;
}

.button-container {
  display: flex;
  justify-content: center; /* Centra los botones horizontalmente */
  align-items: center;
  margin-top: 20px; /* Espacio superior opcional */
}


  
