.jumbotron,
.card-body,
.container,
.site-header {
  font-family: 'Verdana', serif !important;
}

.jumbotron .display-4 {
  font-weight: bold;
}

nav a {
  text-decoration: none;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.jumbotron {
  height: 50vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead {
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/* Contenedor del formulario */
.container-login {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 400px;
    width: 100%;
}

/* Estilo del encabezado */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo de las etiquetas y campos del formulario */
.form-group-login {
    margin-bottom: 20px;
}

.form-group-login label {
    display: block;
    font-size: 16px;
    color: #555;
    margin-bottom: 5px;
}

.form-group-login input[type="text"],
.form-group-login input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

.form-group-login input[type="submit"] {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

.form-group-login input[type="submit"]:hover {
    background-color: #0056b3;
}

.form-group-login input[type="submit"]:active {
    background-color: #004494;
}
/* Vista del producto */
.contenedor-de-producto{
  margin-top: 100x;

}
.contenedor-de-producto .col-2 img{
  padding: 0;
}
.contenedor-de-producto .col-2{
  padding: 20px;
}
.small-img-row{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis:24%;
  cursor: pointer;
}
.catprod{
  margin-top: 50px;
  font-size: 40px;
  margin-bottom: 30px;
  text-shadow : black 0.1em 0.1em 0.2em;
}
.contenedor-info{
  padding-left: 20px;
}
.botoncomprar{
  background-color:black;
  padding: 10px;
  text-align: center;
  width: 40%;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
  margin-top: 10px;
  margin-left: 15%;
  border-radius: 5px;
}
.nameprod{
  text-align: left;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-decoration: underline;
 }
.small-img{
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.66);
  border-radius: 15px;
}
.imgprin{
  border-radius: 10px;
}
/* comentarios cargados*/
#comentarios{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.c-t{
  letter-spacing: 1px;
  margin: 30px 0px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-t h1{
  padding: 10px 20px;
  text-shadow: black 0.1em 0.1em 0.2em;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-bottom: 0%;
}
.comentario-box-container {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-between; 
  width: 100%; 
}

.box {
  width: calc(50% - 20px); 
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 20px;
  margin: 10px; 
  box-sizing: border-box; 
}

.perfil{
  display: flex;
  align-items: center;
}
.username{
  display: flex;
  flex-direction: column;
}
.username h4{
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
.fecha h4{
  color: #979797;
  font-size: 0.8rem;
}
.calificacion{
  color: #f9d71c;
}
.box-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.review p{
 font-size: 0.9rem;
 color: #4b4b4b;
}

